body {
  margin: 0px;
  padding: 0px;
  font-family: "roboto";
}

/*selection de texte avec les couleurs principales du site*/
::selection{
  color: #fecc45;
  background-color: #579c87; /*fin*/
}

header {
  background-color: #579c87;
  text-align: center;
}

h1 {
  margin: 0px;
  padding-top: 1%;
  padding-bottom: 1%;
}

h2 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 0;
}

h1 > a {
  color: #fecc45;
  font-size: 2.5em;
  text-decoration: none;
  font-family: "roboto";
}

.menus {
  display: grid;
  grid-template-columns: 25% 25%;
  grid-gap: 5%;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.menus > a > div {
  opacity: 0.75;
  transition: transform, opacity, 1s cubic-bezier(0.22, 0.66, 0.22, 0.75) ;
  -webkit-transition: transform, opacity, 1s cubic-bezier(0.22, 0.66, 0.22, 0.75);
}
.menus > a > div:hover {
  transform: scale(1.3);
  opacity: 1;
}

a {
  text-decoration: none;
}

.menu-note, .menu-chic, .menu-delices, .menu-gout {
  box-shadow: 2px 2px 5px 5px #e9dfe8;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-note {
  background-color: #fcdfdb;
}

.menu-note > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* titres menus page accueil*/
.menu-note > div > h2 {
  font-size: 2.5em;
  color: black;
  font-family: "devonshire";
}

.menu-chic > div > h2 {
  background: -webkit-linear-gradient(360deg, #c77412, #834afe);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1.5em;
  font-family: "croissant one";
}

.menu-delices > div > h2 {
  background: -webkit-linear-gradient(360deg, #0e35e0, #8bc4fa);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2em;
  font-family: "dancing script";
}

.menu-gout > div > h2 {
  background: -webkit-linear-gradient(360deg, #358e31, #b8ff6e);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2em;
  font-family: "ink free";
}

.menu-note > div > h3 {
  color: black;
  font-size: 3em;
  font-family: "jeff script";
  text-align: center;
}

.menu-chic > div > h3 {
  color: #c77412;
  font-size: 3em;
  text-align: center;
}

.menu-delices > div > h3 {
  color: #006ffb;
  font-size: 3em;
  font-family: "jeff script";
  text-align: center;
}

.menu-gout > div > h3 {
  color: #70be53;
  font-size: 3em;
  font-family: "jeff script";
  text-align: center;
}

.menu-delices {
  background-color: #f9f9f9;
}

.btn-prochainement {
  background-color: #579c87;
  color: #fecc45;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7% 30%;
  padding: 2% 5%;
  font-size: 2.5em;
  border-radius: 20px;
}

footer {
  background-color: #579c87;
  color: #fecc45;
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  padding: 1% 2%;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

#contact > a, #mentions > a {
  text-decoration: none;
  color: #fecc45;
}

/*Pages des menus*/
#carte, #carte-2, #carte-3, #carte-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 20%;
  height: 100%;
  margin-bottom: 10%;
  box-shadow: 3px 3px 3px 3px #e9dfe8;
  padding-bottom: 5%;
}

#carte {
  background-color: #fcdfdb;
}
#carte-2{
  background-color: #fef5fa;
}

#carte-3{
  background-color: #edefef;
}

#carte-4 {
  background-color: #fff;
}

/* titres des pages menus*/
#carte > h2 {
  font-size: 3em;
  font-family: "jeff script";
  text-align: center;
  padding-top: 0%;
}

#carte-2 > h2 {
  background: -webkit-linear-gradient(360deg, #c77412, #834afe);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2.5em;
  font-family: "croissant one";
  text-align: center;
  padding-top: 5%;
}

#carte-3 > h2 {
  background: -webkit-linear-gradient(360deg, #0e35e0, #8bc4fa);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 4em;
  font-family: "dancing script";
  text-align: center;
  padding-top: 10%;
}

#carte-4 > h2 {
  background: -webkit-linear-gradient(360deg, #358e31, #b8ff6e);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 4em;
  font-family: "ink free";
  text-align: center;
  padding-top: 10%;
}

#french-first {
  color: #c67412;
  cursor: pointer;
  
}
#french-second {
  color: #a56799;
  cursor: pointer;
}
#french-third {
  color: #6e4ccc;
  cursor: pointer;
}
/* animation des titres sur les pages des menus*/

/* menu note enchantée*/
#carte > div > h3::after{
  content: "";
  display: block;
  width: 0;
  height: 4px;
  transition: width 1000ms ease-in-out;
  background:-webkit-linear-gradient( 1turn, #ea4c60, #f29069);
}

#carte > div > h3:hover::after{
  width: 100%;
}

/* menu chic à la française*/

#french-first::after{
  content: "";
  display: block;
  width: 0;
  height: 4px;
  transition: width 1000ms ease-in-out;
  background:#c67412;
}

#french-second::after{
  content: "";
  display: block;
  width: 0;
  height: 4px;
  transition: width 1000ms ease-in-out;
  background:#a56799;
}
#french-third::after{
  content: "";
  display: block;
  width: 0;
  height: 4px;
  transition: width 1000ms ease-in-out;
  background:#6e4ccc;
}
#french-first:hover::after, #french-second:hover::after, #french-third:hover::after {
  
  width:100%;
  
}

/* menu le délice des papilles*/

#bien-commencer::after
{
  content: "";
  display: block;
  width: 0;
  height: 4px;
  transition: width 1000ms ease-in-out;
  background:#214899;
}

#bien-continuer::after{
  content: "";
  display: block;
  width: 0;
  height: 4px;
  transition: width 1000ms ease-in-out;
  background:#2a67b0 ;
}

#bien-terminer::after{
  content: "";
  display: block;
  width: 0;
  height: 4px;
  transition: width 1000ms ease-in-out;
  background:#4395d1 ;
}

#bien-commencer:hover::after, #bien-continuer:hover::after, #bien-terminer:hover::after{
  width: 100%;
}

/*menu la palette du goût*/

#carte-4 > div > h3::after{
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background:-webkit-linear-gradient( 1turn, #358e31, #b8ff6e);
  transition: width 1000ms ease-in-out;
}
#carte-4 > div > h3:hover::after{
  width: 100%;
}

/*fin des animations des pages menus*/

#carte > div > h3, #carte-3 > div > h3, #carte-4 > div > h3 {
  font-size: 1.75em;
  padding-top: 2%;
  width: 35%;
  padding-bottom: 2%;
  text-align: center;
  font-family: "jeff script";
  cursor: pointer;
}


#carte > div > h3{
  width: 25%;
}




.menu-titre-deco{
  padding: 5% 2%;
}

/* decoration texte menu 2*/
img{
  width: 35%;
}

/*décoration texte menu 4*/

.deco-titre-menu4{
  width: 35%;
}
#carte-2 > div > h3 {
  font-size: 1.5em;
  font-family: "roboto";
  width: 50%;
  text-align: center;
}


/* layouts menus*/
article {
  display: grid;
  grid-template-columns: 65% 10%;
  justify-content: center;
  font-size: 1.25em;
  font-family: "jeff script";
}

#french-appetit {
  font-family: "roboto";
  color: #c67412;
  
}

#french-plaisir {
  font-family: "roboto";
  color: #a56799;
}

#french-gourmand {
  font-family: "roboto";
  color: #6e4ccc;
}

.plats {
  margin: 0;
  line-height: 2em;
}

.prix {
  line-height: 2em;
  font-weight: bold;
  margin: 0;
}

#titre-bas {
  font-size: 2.5em;
  font-family: "jeff script";
  text-align: center;
  padding-bottom: 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 5% auto 1%;
}

.menu-titre-deco{
  display: flex;
  justify-content: center;
}
/*Svg de la page la note enchantée*/
.note-music{
  width: 35%;
  
}

.note-music-menu{
  margin-top: 5%;
  width: 15%;
  align-self: center;
}
.note-music-menu-bas{
  width: 10%;
  margin-right: 2%;

}

.deco-titre-menu1{
  width: 35%;
  padding-bottom: 10;
}

/*svg de la page le chic à la française*/

.deco-menu2{
  width: 35%;
}

#mentions-leg{
  margin: 5% 5% 10%;
  font-family: 'roboto';
}

@media all and (min-width: 700px) and (max-width: 1024px) {
  h1 {
    font-size: 1.5em;
  }

  h2{
    font-size: 2.5em;
  }

  .menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-note, .menu-chic, .menu-delices, .menu-gout {
    margin-top: 5%;
    font-size: 1em;
    width: 300px;
    height: 450px;
  }


#carte-2 > div > h3 {
  font-size: 1.5em;
  font-family: "roboto";
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}


  .btn-prochainement {
    font-size: 1.5em;
    margin-left: 30%;
    margin-right: 30%;
  }

  footer {
    font-size: 2.5em;
    margin: 0;
    padding: 5px;
  }

  #carte, #carte-2, #carte-3, #carte-4 {
    margin: 5% 2%;
  }

  article {
    display: grid;
    grid-template-columns: 70% 10%;
    justify-content: center;
  }

  .plats {
    font-weight: 1.5em;
    font-size: 1em;
  }

  .prix {
    font-weight: 1.5em;
    font-size: 1em;
  }
}
@media all and (max-width: 699px) {
  h1 {
    font-size: 1.5em;
  }
  
  h2{
    font-size: 1.75em;
  }

  
  #carte-2 > div > h3 {
    font-size: 1em;
    font-family: "roboto";
    padding: 2% 2%;
    text-align: center;
  }

#carte > h2, #carte-2 > h2, #carte-3 > h2, #carte-4 > h2{
  font-size: 1.75em ;
}

#titre-bas{
  font-size: 1.75em;
}

  #carte > div > h3, #carte-3 > div > h3, #carte-4 > div > h3{
    font-size: 1.25em;
  }
  
  .menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-note, .menu-chic, .menu-delices, .menu-gout {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 40%;
    font-size: 0.5em;
    height: 250px;
  }

  .btn-prochainement {
    font-size: 1em;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 25%;
  }

  footer {
    font-size: 1.25em;
    margin: 0;
    padding: 5px;
  }

  #carte, #carte-2, #carte-3, #carte-4 {
    margin: 5% 0%;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .plats {
    font-weight: 1em;
    font-size: 0.75em;
    width: 100%;
    margin-top: 0;
    margin-bottom: 5%;
    text-align: center;
  }

  .prix {
    font-weight: 1em;
    font-size: 0.75em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5%;
  }
}
@media all and (max-width: 320px) {
  .menu-note, .menu-chic, .menu-delices, .menu-gout {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 60%;
    font-size: 0.5em;
    height: 250px;
  }


  #carte-2 > div > h3 {
    font-size: 1em;
    font-family: "roboto";
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
  }
  

  footer {
    font-size: 1.25em;
  }
}

/*# sourceMappingURL=resto.css.map */
