@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px;
  font-family: "roboto";
}

/*selection de texte avec les couleurs principales du site*/
::selection {
  color: #fecc45;
  background-color: #579c87;
  /*fin*/
}

/* le header*/
header {
  background-color: #579c87;
  text-align: center;
}

h1 {
  margin: 0px;
  padding-top: 1%;
  padding-bottom: 1%;
  animation: progress-scale 1000ms;
}

@keyframes progress-scale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  10% {
    opacity: 0.1;
    transform: scale(0.1);
  }
  20% {
    opacity: 0.2;
    transform: scale(0.2);
  }
  30% {
    opacity: 0.3;
    transform: scale(0.3);
  }
  40% {
    opacity: 0.4;
    transform: scale(0.4);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  60% {
    opacity: 0.6;
    transform: scale(0.6);
  }
  70% {
    opacity: 0.7;
    transform: scale(0.7);
  }
  80% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  90% {
    opacity: 0.9;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
h1 > a {
  color: #fecc45;
  font-size: 2.5em;
  text-decoration: none;
  font-family: "roboto";
}

/*le footer*/
footer {
  background-color: #579c87;
  color: #fecc45;
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  padding: 1% 2%;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

#mentions:hover, #contact:hover {
  animation: shake 150ms 3;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(2deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(2deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-2deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-2deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(2deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-2deg);
  }
}
#contact > a, #mentions > a {
  text-decoration: none;
  color: #fecc45;
}

/*Section page d'accueil*/
h2 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 0;
}

.menus {
  display: grid;
  grid-template-columns: 25% 25%;
  grid-gap: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.menus > a > div {
  transform: scale(1);
  opacity: 1;
  transition: transform, opacity, 1s cubic-bezier(0.22, 0.66, 0.22, 0.75);
}
.menus > a > div:hover {
  transform: scale(1.3);
  opacity: 0.7;
}

a {
  text-decoration: none;
}

.menu-note, .menu-chic, .menu-delices, .menu-gout {
  box-shadow: 2px 2px 5px 5px #e9dfe8;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-note {
  background-color: #fcdfdb;
}

.menu-note > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* titres menus page accueil*/
.menu-note > div > h2 {
  font-size: 2.5em;
  color: black;
  font-family: "devonshire";
}

.menu-chic > div > h2 {
  background: linear-gradient(to right, #c77412, #834afe);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 1.5em;
  font-family: "croissant one";
}

.menu-delices > div > h2 {
  background: linear-gradient(to right, #0e35e0, #8bc4fa);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 2em;
  font-family: "dancing script";
}

.menu-gout > div > h2 {
  background: linear-gradient(to right, #358e31, #b8ff6e);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 2em;
  font-family: "ink free";
}

.menu-note > div > h3 {
  color: black;
  font-size: 3em;
  font-family: "jeff script";
  text-align: center;
}

.menu-chic > div > h3 {
  color: #c77412;
  font-size: 3em;
  text-align: center;
}

.menu-delices > div > h3 {
  color: #006ffb;
  font-size: 3em;
  font-family: "jeff script";
  text-align: center;
}

.menu-gout > div > h3 {
  color: #70be53;
  font-size: 3em;
  font-family: "jeff script";
  text-align: center;
}

.menu-delices {
  background-color: #f9f9f9;
}

/*Note de musique du menu 1 sur la page d'accueil */
#note-music-main {
  width: 50%;
}

.btn-prochainement {
  background-color: #579c87;
  color: #fecc45;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 30% 7%;
  font-size: 2.5em;
  border-radius: 20px;
}

.load {
  margin-left: 3px;
  padding: 0;
}
.load__point {
  animation: loading 800ms backwards ease-in-out infinite alternate;
}
.load__point--1 {
  animation-delay: 266.6666666667ms;
}
.load__point--2 {
  animation-delay: 533.3333333333ms;
}
.load__point--3 {
  animation-delay: 800ms;
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*Pages des menus*/
#carte, #carte-2, #carte-3, #carte-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 20%;
  height: 100%;
  margin-bottom: 10%;
  box-shadow: 3px 3px 3px 3px #e9dfe8;
  padding-bottom: 5%;
}

#carte {
  background-color: #fcdfdb;
}

#carte-2 {
  background-color: #fef5fa;
}

#carte-3 {
  background-color: #edefef;
}

#carte-4 {
  background-color: #fff;
}

/* titres des pages menus*/
#carte > h2 {
  font-size: 3em;
  font-family: "jeff script";
  text-align: center;
  padding-top: 0%;
}

#carte-2 > h2 {
  background: linear-gradient(to right, #c77412, #834afe);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 2.5em;
  font-family: "croissant one";
  text-align: center;
  padding-top: 10%;
}

#carte-3 > h2 {
  background: linear-gradient(to right, #0e35e0, #8bc4fa);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 4em;
  font-family: "dancing script";
  text-align: center;
  padding-top: 10%;
}

#carte-4 > h2 {
  background: linear-gradient(to right, #358e31, #b8ff6e);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 4em;
  font-family: "ink free";
  text-align: center;
  padding-top: 10%;
}

#french-first {
  color: #c67412;
  cursor: pointer;
}

#french-second {
  color: #a56799;
  cursor: pointer;
}

#french-third {
  color: #6e4ccc;
  cursor: pointer;
}

#carte > div > h3, #carte-3 > div > h3, #carte-4 > div > h3 {
  font-size: 1.75em;
  padding-top: 2%;
  width: 35%;
  padding-bottom: 2%;
  text-align: center;
  font-family: "jeff script";
  cursor: pointer;
}

#carte > div > h3 {
  width: 25%;
}

#carte-2 > div > h3 {
  font-family: "roboto";
  width: 50%;
  text-align: center;
  font-size: 1.5em;
}

.menu-titre-deco {
  display: flex;
  justify-content: center;
  padding: 5% 2%;
}

/* layouts menus*/
section > .carte-menu {
  display: grid;
  grid-template-columns: 75% 10%;
  justify-content: center;
  font-size: 1.5em;
  font-family: "jeff script";
}

#french-appetit {
  font-family: "roboto";
  color: #c67412;
  display: grid;
  grid-template-columns: 75% 10%;
  justify-content: center;
  font-size: 1.35em;
}

#french-plaisir {
  font-family: "roboto";
  color: #a56799;
  display: grid;
  grid-template-columns: 75% 10%;
  justify-content: center;
  font-size: 1.25em;
}

#french-gourmand {
  font-family: "roboto";
  color: #6e4ccc;
  display: grid;
  grid-template-columns: 75% 10%;
  justify-content: center;
  font-size: 1.25em;
}

.plats {
  margin: 0;
  line-height: 2em;
  font-size: 1em;
}

.prix {
  line-height: 2em;
  font-weight: bold;
  margin: 0;
}

#titre-bas {
  font-size: 2.5em;
  font-family: "jeff script";
  text-align: center;
  padding-bottom: 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 5% auto 1%;
}

/*layout page mentions légales*/
#mentions-leg {
  margin: 5% 5% 10%;
  font-family: "roboto";
}

/*gestion des svg*/
/*Svg de la page la note enchantée*/
#note-music {
  width: 12%;
  align-self: center;
  padding-top: 25px;
}

.note-music-menu {
  margin-top: 5%;
  width: 12%;
  align-self: center;
}

#note-music-menu-bas {
  width: 13%;
  margin-right: 2%;
}

.deco-titre-menu1 {
  width: 35%;
}

/* decoration texte menu 2, menu 3 et menu 4*/
img {
  width: 35%;
}

/*fin gestion des svg*/
/* animation des titres sur les pages des menus*/
/* menu note enchantée*/
#carte > div > h3::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  transition: width 1000ms ease-in-out;
  background: linear-gradient(to right, #ea4c60, #f29069);
}
#carte > div > h3:hover::after {
  width: 100%;
}

/* menu chic à la française*/
#french-first::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  transition: width 1000ms ease-in-out;
  background: #c67412;
}
#french-first:hover::after {
  width: 100%;
}

#french-second::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  transition: width 1000ms ease-in-out;
  background: #a56799;
}
#french-second:hover::after {
  width: 100%;
}

#french-third::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  transition: width 1000ms ease-in-out;
  background: #6e4ccc;
}
#french-third:hover::after {
  width: 100%;
}

/* menu le délice des papilles*/
#bien-commencer::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  transition: width 1000ms ease-in-out;
  background: #214899;
}
#bien-commencer:hover::after {
  width: 100%;
}

#bien-continuer::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  transition: width 1000ms ease-in-out;
  background: #2a67b0;
}
#bien-continuer:hover::after {
  width: 100%;
}

#bien-terminer::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  transition: width 1000ms ease-in-out;
  background: #4395d1;
}
#bien-terminer:hover::after {
  width: 100%;
}

/*menu la palette du goût*/
#carte-4 > div > h3::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  transition: width 1000ms ease-in-out;
  background: linear-gradient(to right, #358e31, #b8ff6e);
}
#carte-4 > div > h3:hover::after {
  width: 100%;
}

/*fin des animations des pages menus*/
@media all and (min-width: 700px) and (max-width: 1025px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 2.5em;
  }

  .menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menus > a > div {
    transform: scale(0.75);
  }

  .menus > a > div:hover {
    transform: scale(1);
  }

  .menu-note, .menu-chic, .menu-delices, .menu-gout {
    margin-top: 5%;
    font-size: 1em;
    width: 300px;
    height: 450px;
  }

  #carte-2 > div > h3 {
    font-size: 1.5em;
    font-family: "roboto";
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
  }

  .btn-prochainement {
    font-size: 1.5em;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10%;
  }

  footer {
    font-size: 2.5em;
    margin: 0;
    padding: 5px;
  }

  #carte, #carte-2, #carte-3, #carte-4 {
    margin: 5% 2%;
  }

  article {
    display: grid;
    grid-template-columns: 70% 10%;
    justify-content: center;
  }

  .plats {
    font-size: 1em;
  }

  .prix {
    font-size: 1em;
  }
}
@media all and (max-width: 699px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.75em;
  }

  #carte-2 > div > h3 {
    font-size: 0.85em;
    font-family: "roboto";
    padding: 2% 2%;
    text-align: center;
  }

  #carte > h2, #carte-2 > h2, #carte-3 > h2, #carte-4 > h2 {
    font-size: 1.75em;
  }

  #titre-bas {
    font-size: 1.75em;
  }

  #carte > div > h3, #carte-3 > div > h3, #carte-4 > div > h3 {
    font-size: 1.3em;
  }

  .menu-note, .menu-chic, .menu-delices, .menu-gout {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    font-size: 0.5em;
    height: 300px;
  }

  .btn-prochainement {
    font-size: 1em;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 15%;
  }

  footer {
    font-size: 1.25em;
    margin: 0;
    padding: 5px;
  }

  #carte, #carte-2, #carte-3, #carte-4 {
    margin: 5% 0%;
  }

  section > #french-appetit, section > #french-plaisir, section > #french-gourmand {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section > .carte-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .plats {
    font-size: 0.8em;
    width: 100%;
    margin-top: 0;
    margin-bottom: 5%;
    text-align: center;
  }

  .prix {
    font-size: 0.8em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5%;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("../Fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Jeff Script";
  src: url("../Fonts/Jeff Script Regular.otf") format("Opentype");
}
@font-face {
  font-family: "Croissant One";
  src: url("../Fonts/CroissantOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Devonshire";
  src: url("../Fonts/Devonshire-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Dancing Script";
  src: url("../Fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Ink free";
  src: url("../Fonts/Inkfree.ttf") format("truetype");
}

/*# sourceMappingURL=resto.css.map */
