
@import "./utils/fonctions.scss";
@import "./utils/mixins.scss";
@import "./layout/body-header-footer.scss";
@import "./components/bouton.scss";



h2{
    text-align: center;
    font-size: 3em;
    margin-bottom: 0;
}

.menus{
   
    display: grid;
    grid-template-columns: 25% 25%;
    grid-gap: 5%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

    
}

.menus > a > div{
    transform: scale(1);
    opacity: 1;
    transition: transform, opacity, 1s;
    -webkit-transition: transform, opacity, 1s cubic-bezier(.22,.66,.22,.75);
    
    
        &:hover{
            transform: scale(1.30);
            opacity: 0.75;
            
        }
}
a{
    text-decoration: none;
}
.menu-note, .menu-chic, .menu-delices, .menu-gout{

    box-shadow: 2px 2px 5px 5px #e9dfe8;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.menu-note{
    background-color: #fcdfdb ;
}
.menu-note > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* titres menus page accueil*/
.menu-note > div > h2{
    
    font-size: 2.5em;
    color: black;  
    font-family: 'devonshire';
}

.menu-chic > div > h2{
    background: -webkit-linear-gradient(360deg, #c77412, #834afe);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1.5em;
    font-family: 'croissant one';
}


.menu-delices > div > h2{
    background: -webkit-linear-gradient(360deg, #0e35e0, #8bc4fa);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2em; 
    font-family: 'dancing script';
}

.menu-gout > div > h2{
    background: -webkit-linear-gradient(360deg, #358e31, #b8ff6e);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2em; 
    font-family: 'ink free';
    
}
.menu-note > div > h3{
    color: black;
    font-size: 3em;
    font-family: $secondary-font;
    text-align: center;

}
.menu-chic > div > h3{
    color: #c77412;
    font-size: 3em;
    text-align: center;
}

.menu-delices > div > h3{
    color: #006ffb;
    font-size: 3em;
    font-family: $secondary-font;
    text-align: center;
}

.menu-gout > div > h3{
    color: #70be53;
    font-size: 3em;
    font-family: $secondary-font;
    text-align: center;
}

.menu-delices{
    background-color: #f9f9f9;
}
/*Pages des menus*/
#carte, #carte-2, #carte-3, #carte-4 {

    display: block;
    margin: 5% 20%;
    height: 100%;
    margin-bottom: 10%;
    box-shadow: 3px 3px 3px 3px #e9dfe8;
    padding-bottom: 5%;
    
}
#carte{
    background-color: #fcdfdb;
}

#carte-4{
    background-color: #fff;

}

/* titres des pages menus*/

#carte > h2{
    font-size: 3em;
    font-family: $secondary-font;
    text-align: center;
    padding-top: 10%;
    
}
#carte-2 > h2{
    background: -webkit-linear-gradient(360deg, #c77412, #834afe);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2.5em; 
    font-family: 'croissant one';
    text-align: center;
    padding-top: 10%;
}
#carte-3 > h2{
    background: -webkit-linear-gradient(360deg, #0e35e0, #8bc4fa);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 4em; 
    font-family: 'dancing script';
    text-align: center;
    padding-top: 10%;

}
#carte-4 > h2{

    background: -webkit-linear-gradient(360deg, #358e31, #b8ff6e);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 4em; 
    font-family: 'ink free';
    text-align: center;
    padding-top: 10%;
}

#french-first{
    color:#c67412;

}
#french-second{
    color: #a56799;
}
#french-third{
    color: #6e4ccc;
}
#carte > h3, #carte-3 > h3, #carte-4 > h3{
    font-size: 1.5em;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-family: $secondary-font;
}
#carte-2 > h3{
    font-size: 1.25em;
    font-family: 'roboto';
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;

}
/* layouts menus*/

article{

    display: grid;
    grid-template-columns: 65% 10%;
    justify-content: center;
    font-size: 1.25em;  
    font-family: $secondary-font;
}

#french-appetit{
    font-family: $main-fontfamily;
    color: #c67412;
}

#french-plaisir{
    font-family: $main-fontfamily;
    color: #a56799;
}
#french-gourmand{
    font-family: $main-fontfamily;
    color: #6e4ccc;
}
.plats{
   
    margin: 0;
    line-height: 2em;
     
}
.prix{
      
    
    line-height: 2em;
    font-weight: bold;
    margin: 0;
}

#titre-bas{
    font-size: 2em;
    font-family: $secondary-font;
    text-align: center;
    padding-bottom: 5%;
    font-weight: bold;
}


@media all and (min-width: 700px) and (max-width: 1024px)

{
h1{
    font-size: 1.5em;
}
.menus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    
.menu-note, .menu-chic, .menu-delices, .menu-gout{
    margin-top: 5%;
    font-size: 1em;
    width: 300px;
    height: 450px;
    
     
}
.btn-prochainement{

    font-size: 1.5em;
    margin-left:30%;
    margin-right: 30%;
    
}
footer{
    font-size: 2.5em;
    margin: 0;
    padding: 5px;
    
    
}
#carte, #carte-2, #carte-3, #carte-4 {
    margin: 5% 2%;
}
article{
    
    display: grid;
    grid-template-columns: 70% 10%;
    justify-content: center;
    
}
.plats{
    font-weight: 1.5em;
    font-size: 1em;
    
    
    
}
.prix{
    font-weight: 1.5em;
    font-size: 1em;  

}
}
@media all and (max-width: 699px){

    h1{
        font-size: 1.5em;
    }
    .menus{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    
    .menu-note, .menu-chic, .menu-delices, .menu-gout{
        margin-top: 5%;
        margin-bottom: 5%;
        width: 40%; 
        font-size: 0.5em;
        height: 250px;
        
    }
    .btn-prochainement{
    
        font-size: 1em;
        margin-left:25%;
        margin-right: 25%;
        margin-bottom: 25%;
        
    }
    footer{
        font-size: 1.5em;
        margin: 0;
        padding: 5px;
        
        
    }
    #carte, #carte-2, #carte-3, #carte-4 {
        margin: 5% 0%;
    }
    article{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .plats{
        font-weight: 1em;
        font-size: 1em;
        width: 100%;
        margin-top: 0;
        margin-bottom: 5%;
        text-align: center;
        
        
    }
    .prix{
        font-weight: 1em;
        font-size: 1em;
        text-align: center;
        margin-top: 0;
        margin-bottom: 5%;
    }    
}

@media all and (max-width: 320px){

    .menu-note, .menu-chic, .menu-delices, .menu-gout{
        margin-top: 5%;
        margin-bottom: 5%;
        width: 60%; 
        font-size: 0.5em;
        height: 250px;
    }

    footer{
        font-size: 1.25em;
        
        
        
    }  

}