@media all and (min-width: 700px) and (max-width: 1024px)

{
h1{
    font-size: 1.5em;
}
.menus{
    display: flex;
    flex-direction: column;
    justify-content: $align;
    align-items: $align;
}    
.menu-note, .menu-chic, .menu-delices, .menu-gout{
    margin-top: 5%;
    font-size: 1em;
    width: 300px;
    height: 450px;
    
     
}
.btn-prochainement{

    font-size: 1.5em;
    margin-left:30%;
    margin-right: 30%;
    
}
footer{
    font-size: 2.5em;
    margin: 0;
    padding: 5px;
    
    
}
#carte, #carte-2, #carte-3, #carte-4 {
    margin: 5% 2%;
}
article{
    
    display: grid;
    grid-template-columns: 70% 10%;
    justify-content: $align;
    
}
.plats{
    font-weight: 1.5em;
    font-size: 1em;
    
    
    
}
.prix{
    font-weight: 1.5em;
    font-size: 1em;  

}
}
@media all and (max-width: 699px){

    h1{
        font-size: 1.5em;
    }
    .menus{
        display: flex;
        flex-direction: column;
        justify-content: $align;
        align-items: $align;
    }    
    .menu-note, .menu-chic, .menu-delices, .menu-gout{
        margin-top: 5%;
        margin-bottom: 5%;
        width: 40%; 
        font-size: 0.5em;
        height: 250px;
        
    }
    .btn-prochainement{
    
        font-size: 1em;
        margin-left:25%;
        margin-right: 25%;
        margin-bottom: 25%;
        
    }
    footer{
        font-size: 1.5em;
        margin: 0;
        padding: 5px;
        
        
    }
    #carte, #carte-2, #carte-3, #carte-4 {
        margin: 5% 0%;
    }
    article{
        
        display: flex;
        flex-direction: column;
        justify-content: $align;
        
    }

    .plats{
        font-weight: 1em;
        font-size: 1em;
        width: 100%;
        margin-top: 0;
        margin-bottom: 5%;
        text-align: $align;
        
        
    }
    .prix{
        font-weight: 1em;
        font-size: 1em;
        text-align: $align;
        margin-top: 0;
        margin-bottom: 5%;
    }    
}

@media all and (max-width: 320px){

    .menu-note, .menu-chic, .menu-delices, .menu-gout{
        margin-top: 5%;
        margin-bottom: 5%;
        width: 60%; 
        font-size: 0.5em;
        height: 250px;
    }

    footer{
        font-size: 1.25em;     
    }  
}