/*Pages des menus*/
#carte, #carte-2, #carte-3, #carte-4 {

    @include layout-main-menu;   
}
#carte{
    background-color: #fcdfdb;
}

#carte-2{
    background-color: #fef5fa;
}

#carte-3{
    background-color: #edefef;
}

#carte-4{
    background-color: #fff;
}

/* titres des pages menus*/

#carte > h2{
    font-size: 3em;
    font-family: $secondary-font;
    text-align: $align;
    padding-top: 0%;
    
}
#carte-2 > h2{
    background: $gradient-menu2;
    @include h-gradient-effect;
    font-size: 2.5em; 
    font-family: 'croissant one';
    text-align: $align;
    padding-top: $pad-top;
}

#carte-3 > h2{
    background: $gradient-menu3;
    @include h-gradient-effect;
    font-size: 4em; 
    font-family: 'dancing script';
    text-align: $align;
    padding-top: $pad-top;

}
#carte-4 > h2{

    background: $gradient-menu4;
    @include h-gradient-effect;
    font-size: 4em; 
    font-family: 'ink free';
    text-align: $align;
    padding-top: $pad-top;
}

#french-first{
    color:$color-entree-menu2;
    cursor: pointer;

}
#french-second{
    color: $color-meal-menu2;
    cursor: pointer;
    
}
#french-third{
    color: $color-dessert-menu2;
    cursor: pointer;
    
}
#carte > div > h3, #carte-3 > div > h3, #carte-4 > div > h3{
    font-size: 1.75em;
    padding-top: 2%;
    width: 35%;
    padding-bottom: 2%;
    text-align: $align;
    font-family: $secondary-font;
    cursor: pointer;
}

#carte > div > h3{
    width: 25%;
}

#carte-2 > div > h3 {
    font-family: $main-fontfamily;
    width: 50%;
    text-align: $align;
    font-size: 1.5em;
    
  }

.menu-titre-deco{
    display: flex;
    justify-content: center;
    padding: 5% 2%;
  }

/* layouts menus*/

section > .carte-menu {
    display: grid;
    grid-template-columns: 75% 10%;
    justify-content: center;
    font-size: 1.5em;
    font-family: "jeff script";
}

#french-appetit {
    font-family: "roboto";
    color: #c67412;
    display: grid;
    grid-template-columns: 75% 10%;
    justify-content: center;
    font-size: 1.35em;
  }
  
  #french-plaisir {
    font-family: "roboto";
    color: #a56799;
    display: grid;
    grid-template-columns: 75% 10%;
    justify-content: center;
    font-size: 1.25em;
  }
  
  #french-gourmand {
    font-family: "roboto";
    color: #6e4ccc;
    display: grid;
    grid-template-columns: 75% 10%;
    justify-content: center;
    font-size: 1.25em;
  }

  .plats {
    margin: 0;
    line-height: 2em;
    font-size: 1em;
  }
  
  .prix {
    line-height: 2em;
    font-weight: bold;
    margin: 0;
  }

#titre-bas {
    font-size: 2.5em;
    font-family: $secondary-font;
    text-align: $align;
    padding-bottom: 0;
    font-weight: bold;
    display: flex;
    justify-content: $align;
    margin: 5% auto 1%;
}
/*layout page mentions légales*/
#mentions-leg{
    margin: 5% 5% 10%;
    font-family: 'roboto';
}
  
/*gestion des svg*/

/*Svg de la page la note enchantée*/

#note-music {
    width: 12%;
    align-self: center;
    padding-top: 25px;
  }

.note-music-menu{
    margin-top: 5%;
    width: 12%;
    align-self: $align;
}
#note-music-menu-bas {
    width: 13%;
    margin-right: 2%;
  }
  
  .deco-titre-menu1 {
    width: 35%;
  }

  /* decoration texte menu 2, menu 3 et menu 4*/
img{
    width: 35%;
  }


/*fin gestion des svg*/

/* animation des titres sur les pages des menus*/

/* menu note enchantée*/
#carte > div > h3{
    &::after{
        @include anim-titre-menu;
        background: $gradient-menu1;
        }
    &:hover{
        &::after{
            width: 100%;
        }
    }
 }
  
  /* menu chic à la française*/
  
  #french-first{
      &::after{
        @include anim-titre-menu;
        background: $color-entree-menu2;}
      &:hover{
          &::after{
            width:100%;
          }
      }
  }
   
  #french-second{
      &::after{
        @include anim-titre-menu;
        background: $color-meal-menu2;}
      &:hover{
          &::after{
            width: 100%;
          }
      }       
  }

  #french-third{
      &::after{
        @include anim-titre-menu;
        background: $color-dessert-menu2;}
      &:hover{
          &::after{
              width: 100%;
          }
      }
  }  
  /* menu le délice des papilles*/
  
  #bien-commencer{
      &::after{
        @include anim-titre-menu;
        background: $color-entree-menu3;}
      &:hover{
          &::after{
              width: 100%;
          }
      }
  }

  #bien-continuer{
      &::after{
        @include anim-titre-menu;
        background: $color-meal-menu3;}
      &:hover{
          &::after{
              width: 100%;
          }
      }
  }
  
  #bien-terminer{
      &::after{
        @include anim-titre-menu;
        background: $color-dessert-menu3;}
      &:hover{
          &::after{
              width: 100%;
          }
      }
  }
  
  /*menu la palette du goût*/
  
  #carte-4 > div > h3{
      &::after{
        @include anim-titre-menu;
        background: $gradient-menu4;}
      &:hover{
          &::after{
              width: 100%;
          }
      }
  }
  /*fin des animations des pages menus*/