#btn-prochainement{
    background-color: $main_backgroundcolor;
    color: $main-textcolor;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 30% 10%;
    font-size: 2.75em;
    border-radius: 20px;
    height: 100px;
    
}

.load{
    margin-left: 3px;
    padding: 0;
    &__point{
        animation: loading $time-point backwards ease-in-out infinite alternate ;
        @for $i from 1 through 3{
            &--#{$i}{
                animation-delay: $time-point/3*$i;
            }
        }
    }
}


@keyframes loading{
    0%{
        opacity: 0;
    }
    100%{
         opacity: 1;
    }
}