.btn-prochainement{
    background-color: $main_backgroundcolor;
    color: $main-textcolor;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7% 30%;
    padding: 2% 5%;
    font-size: 2.5em;
    border-radius: 20px;
}