@font-face {
    font-family: "Roboto-regular";
    src: url("../../Fonts/Roboto-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Jeff Script Regular";
    src: url("../../Fonts/Jeff Script Regular.otf") format("otf");
  }
  @font-face {
    font-family: "CroissantOne-Regular";
    src: url("../../Fonts/CroissantOne-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Devonshire-Regular";
    src: url("../../Fonts/Devonshire-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "DancingScript-VariableFont_wght";
    src: url("../../Fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inkfree";
    src: url("../../Fonts/Inkfree.ttf") format("truetype");
  }