@font-face {
  font-family: "Roboto";
  src: url("../Fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Jeff Script";
  src: url("../Fonts/Jeff\ Script\ Regular.otf") format("Opentype");
}
@font-face {
  font-family: "Croissant One";
  src: url("../Fonts/CroissantOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Devonshire";
  src: url("../Fonts/Devonshire-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Dancing Script";
  src: url("../Fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Ink free";
  src: url("../Fonts/Inkfree.ttf") format("truetype");
}
@font-face{
  font-family: "Kaushanscript";
  src: url("../Fonts/kaushanscript-regular.ttf") format("truetype");
}