
$main-backgroundcolor:  #579c87;
$main-textcolor: #fecc45;
$color-entree-menu2: #c67412;
$color-meal-menu2: #a56799;
$color-dessert-menu2:#6e4ccc;
$color-entree-menu3: #214899;
$color-meal-menu3: #2a67b0;
$color-dessert-menu3: #4395d1;
$gradient-menu1: linear-gradient(to right, #ea4c60, #f29069);
$gradient-menu2: linear-gradient(to right, #c77412, #834afe);
$gradient-menu3: linear-gradient(to right, #0e35e0, #8bc4fa);
$gradient-menu4: linear-gradient(to right, #358e31, #b8ff6e);

$main-fontfamily: "roboto";
$secondary-font: "jeff script";

$align: center;

$pad-top: 10%;

$time-point:800ms;